<p>Dear <%= @user.name %></p>

<p>Here is your password hash @user.reset_hash :3</p>

<!--!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Go fuck ya self</p>
  </body>
</html-->