<%= render "shared/menu" %>

<div id="newUser" class="col-md-12">
	<div class="main" style="height: 300px;">
		<h2 style="  color: #e2e2e2;font-family: 'Droid Sans', sans-serif;font-weight: 600;" class="col-md-offset-1">Enter your email to reset your password</h2>
		<div class="col-md-offset-3 col-md-6">
			<input style="  margin-top: 15px;" id="email" class="form-control"/><br />
			<button id="sub" class="btn btn-default form-control">Submit</button>
			<p style="margin-top: 10px;text-align: center;">*Make sure to check your spam filter as well</p>
		</div>
	</div>

</div>
<%= render "shared/footer" %>
<script type="text/javascript">
	$('#sub').click(function(){
		$.ajax({
			url: "/pass_reset",
			data: JSON.stringify({ email : $('#email').val()}),
			type: "POST",
			contentType: "application/json",
			success: function(data){
				console.log(data);
				window.location.href = "http://fmmetrics.wisc.edu/";
			},
			error: function(data){
				alert("Error Submitting Data");
			}
		});
	});
</script>