<%= render "shared/menu" %>

<div id="survey" class="col-md-12" ng-app ng-controller="surveyCtrl">
  <div id="summary" class="main money">
	<%= render "shared/nav" %>

  	<h1>Vendor Sales Slip</h1>
  	<div class="col-md-6">
		<div class="row">
			<h2>Total Gross Sales: </h2>
			<br />
			<div class="col-md-7">
		  		<label>Date</label>
				<input type="text" ng-change="setdate()" ng-model="date" class="tcal">
	  		</div>
	  		<div style="margin-top:23px">
				<span class="col-xs-1 dollars">$</span>
				<div  class="col-xs-3"><input type="text" ng-model="survey.total_sales" placeholder="0.00" /></div>
			</div>
		</div>
		<div class="row">
			<h3>Product Categories:</h3>
			<label class="col-xs-7">Farm Product Sales: </label>
			<span class="col-xs-1 dollars">$</span>
			<div  class="col-xs-3"><input type="text" ng-model="survey.farm_sales" placeholder="0.00" /></div>
		</div>
		<div class="row">
			<label class="col-xs-7">Value-added Sales: </label>
			<span class="col-xs-1 dollars">$</span>
			<div  class="col-xs-3"><input type="text" ng-model="survey.value_sales" placeholder="0.00" /></div>
		</div>
		<div class="row">
			<label class="col-xs-7">Ready-to-Eat (Prepared) food Sales: </label>
			<span class="col-xs-1 dollars">$</span>
			<div  class="col-xs-3"><input type="text" ng-model="survey.ready_sales" placeholder="0.00" /></div>
		</div>
	</div>
	<div class="col-md-6">
		<h2>Payment Methods</h2>
		<div class="row" ng-if="metrics[7]">
			<label class="col-xs-7">Debit/Credit sales</label>
			<span class="col-xs-1 dollars">$</span>
			<div  class="col-xs-3"><input type="text" ng-model="survey.Debt_sales" placeholder="0.00" /></div>
		</div>
		<div class="row"  ng-if="metrics[15]">
			<label class="col-xs-7">WIC FMNP sales</label>
			<span class="col-xs-1 dollars">$</span>
			<div  class="col-xs-3"><input type="text" ng-model="survey.WIC_FMNP_sales" placeholder="0.00" /></div>
		</div>
		<div class="row" ng-if="metrics[16]">
			<label class="col-xs-7">WIC CVV sales</label>
			<span class="col-xs-1 dollars">$</span>
			<div  class="col-xs-3"><input type="text" ng-model="survey.WIC_sales" placeholder="0.00" /></div>
		</div>
		<div class="row" ng-if="metrics[20]">
			<label class="col-xs-7">Senior FMNP sales</label>
			<span class="col-xs-1 dollars">$</span>
			<div  class="col-xs-3"><input type="text" ng-model="survey.Senior_FMNP_sales" placeholder="0.00" /></div>	
		</div>		
		<div class="row" ng-if="metrics[14]">
			<label class="col-xs-7">SNAP/EBT sales</label>
			<span class="col-xs-1 dollars">$</span>
			<div  class="col-xs-3"><input type="text" ng-model="survey.SNAP_sales" placeholder="0.00" /></div>
		</div>
		<div class="row" ng-if="metrics[13]">
			<label class="col-xs-7">Number of SNAP/EBT transactions</label>
			<div  class="col-xs-4"><input type="text" ng-model="survey.SNAP_transactions"/></div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-6" ng-if="metrics[31]">
			<h3>Donated Food</h3>
			<div class="row">
				<label class="col-xs-7">Estimated Pounds of Donated Food: </label>
				<div  class="col-xs-4"><input type="text" ng-model="survey.pounds_donated"/></div>
			</div>
			<div class="row">
				<label class="col-xs-7">Estimated Retail Value of Donation: </label>
				<span class="col-xs-1 dollars">$</span>
				<div  class="col-xs-3"><input type="text" ng-model="survey.values_donated" placeholder="0.00" /></div>
			</div>
		</div>
		<div class="col-md-6" ng-if="metrics[35]">
			<label>Which three fresh vegetables or fruits did you sell most frequently on {{date}} at the market?</label>
			<div class="row selectGroup">
				<select ng-model="type1" ng-change="selectLetter(type1,1)">
					<option value="f">Fruit</option>
					<option value="v">Vegetable</option>
				</select>
				<select ng-model="filter1" ng-change="selectGroup(filter1,1)" id="alpha1" class="level1">
					<option value="a">A - E</option>
					<option value="f">F - J</option>
					<option value="k">K - O</option>
					<option value="p">P - T</option>
					<option value="u">U - Z</option>
				</select>
				<div class="level2" id ="food1">
					<select ng-model="survey.veg1"  >
						<option ng-repeat=" n in foodList1" value="{{n}}">{{n}}</option>
					</select>
				</div>
			</div>
			<div class="row selectGroup">
				<select ng-model="type2" ng-change="selectLetter(type2,2)">
					<option value="f">Fruit</option>
					<option value="v">Vegetable</option>
				</select>
				<select ng-model="filter2" ng-change="selectGroup(filter2,2)" id="alpha2" class="level1">
					<option value="a">A - E</option>
					<option value="f">F - J</option>
					<option value="k">K - O</option>
					<option value="p">P - T</option>
					<option value="u">U - Z</option>
				</select>
				<div class="level2" id ="food2">
					<select ng-model="survey.veg2"  >
						<option ng-repeat=" n in foodList2" value="{{n}}">{{n}}</option>
					</select>
				</div>
			</div>
			<div class="row selectGroup">
				<select ng-model="type3" ng-change="selectLetter(type3,3)">
					<option value="f">Fruit</option>
					<option value="v">Vegetable</option>
				</select>
				<select ng-model="filter3" ng-change="selectGroup(filter3,3)" id="alpha3" class="level1">
					<option value="a">A - E</option>
					<option value="f">F - J</option>
					<option value="k">K - O</option>
					<option value="p">P - T</option>
					<option value="u">U - Z</option>
				</select>
				<div class="level2" id ="food3">
					<select ng-model="survey.veg3"  >
						<option ng-repeat=" n in foodList3" value="{{n}}">{{n}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-offset-2 col-md-4">
			<a class="btn btn-default" href="javascript:void" ng-click="submitSurvey()">Submit</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-danger" href="javascript:void" ng-click="reset()">Reset</a>
		</div>
	</div>
  </div>
</div>
<div id="successScreen"> 
	<a href="#" class="suc-text">Success!</a>
</div> 
<div id="cover" ></div>

<script type="text/javascript">

function surveyCtrl($scope){
	
	$scope.metrics = <%= raw(@metrics.to_json) %>;
	$scope.survey = <%= raw(@slip.to_json) %>;

	if($scope.survey == null)
		$scope.survey = {};

	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();

	if(dd<10) {
	    dd='0'+dd
	} 

	if(mm<10) {
	    mm='0'+mm
	} 

	$scope.today = mm+'/'+dd+'/'+yyyy;
	$scope.box = 0;

	$scope.foodList = [];
	$scope.small = $(window).width() <= 991;

	$scope.selectLetter = function(type,num){
		$scope['type' +num] = type;
		$('#alpha' + num).show();
		$('#food' + num).hide();
	}

	var items = {};

	items['f'] = {};
	items['f']['a'] = ['Apples','Apricots','Apriums','Asian pears','Avocados','Blackberries','Blueberries','Boysenberries','Canary melons','Cantaloupes','Cherimoyas','Cherries','Currants','Dates'];
	items['f']['f'] = ['Fejioas','Figs','Gooseberries','Grapefruit','Grapes','Honeydew melons','Jujubes'];
	items['f']['k'] =['Kumquats','Lemons','Limes','Mulberries','Oranges'];
	items['f']['p'] = ['PawPaws','Peaches','Pears','Plums','Quince','Raspberries','Strawberries','Tangerines','Tayberries'];
	items['f']['u'] = ['Watermelons','Wineberries'];

	items['v'] = {};
	items['v']['a'] = ['Artichokes','Arugula','Asparagus','Beets','Beet green','Bok choy','Broccoli','Broccoli rabe','Brussels sprouts','Cabbage','Cardoons','Carrots','Cauliflower','Celeriac','Celery','Chard','Chicory','Chipilín','Collards','Cress','Cucumbers','Dandelion greens','Dry beans','Eggplant'];
	items['v']['f'] = ['Fava beans','Fennel','Garlic bulb','Garlic scapes','Green beans','Herbs (fresh)','Hierbamora','Horseradish','Jicama'];
	items['v']['k'] =['Kale','Kohlrabi','Lambs quarters','Leeks','Lettuce','Lima Beans','Mushrooms','Mustard greens','Okra','Onions'];
	items['v']['p'] = ['Parsnips','Peas','Pea shoots','Peppers (hot)','Peppers (sweet)','Pumpkins','Potatoes','Purslane','Squash (summer)','Squash (winter)','Radishes','Rhubarb','Rutabagas','Salsify','Scallions','Shallots','Spinach','Sprout','Sunchokes','Sweet corn','Sweet potatoes','Sweet potato greens','Tomatillos','Tomatoes','Turnip','Turnip greens'];
	items['v']['u'] = ['Yacon'];

	$scope.selectGroup = function(filter,num){
		$('#food'+num).hide();
		$scope['foodList' + num] = items[$scope['type'+num]][filter];
		console.log($scope.foodList);
		$('#food'+num).show();
	}

	$scope.hideList = function(num){
		$('#food'+num).hide();
	}

	/*$scope.selectLetter = function(type){
		$scope.type = type;
		$('#alpha'+$scope.box).show();
	}

	var items = {};

	items['f'] = {};
	items['f']['a'] = ['Apples','Apricots','Apriums','Asian pears','Avocados','Blackberries','Blueberries','Boysenberries','Canary melons','Cantaloupes','Cherimoyas','Cherries','Currants','Dates'];
	items['f']['f'] = ['Fejioas','Figs','Gooseberries','Grapefruit','Grapes','Honeydew melons','Jujubes'];
	items['f']['k'] =['Kumquats','Lemons','Limes','Mulberries','Oranges'];

	items['f']['p'] = ['PawPaws','Peaches','Pears','Plums','Quince','Raspberries','Strawberries','Tangerines','Tayberries'];
	items['f']['u'] = ['Watermelons','Wineberries'];

	items['v'] = {};
	items['v']['a'] = ['Artichokes','Arugula','Asparagus','Beets','Beet green','Bok choy','Broccoli','Broccoli rabe','Brussels sprouts','Cabbage','Cardoons','Carrots','Cauliflower','Celeriac','Celery','Chard','Chicory','Chipilín','Collards','Cress','Cucumbers','Dandelion greens','Dry beans','Eggplant'];
	items['v']['f'] = ['Fava beans','Fennel','Garlic bulb','Garlic scapes','Green beans','Herbs (fresh)','Hierbamora','Horseradish','Jicama'];
	items['v']['k'] =['Kale','Kohlrabi','Lambs quarters','Leeks','Lettuce','Lima Beans','Mushrooms','Mustard greens','Okra','Onions'];

	items['v']['p'] = ['Parsnips','Peas','Pea shoots','Peppers - hot','Peppers – sweet','Pumpkins','Potatoes','Purslane','Squash – summer','Squash - winter','Radishes','Rhubarb','Rutabagas','Salsify','Scallions','Shallots','Spinach','Sprout','Sunchokes','Sweet corn','Sweet potatoes','Sweet potato greens','Tomatillos','Tomatoes','Turnip','Turnip greens'];
	items['v']['u'] = ['Yacon'];
	console.log(items);

	$scope.selectGroup = function(filter){
		$scope.foodList = items[$scope.type][filter];
		console.log(items[$scope.type][filter],$scope.type,filter);
		$('#list'+$scope.box).show();
	}

	$scope.selectVeg = function(food){
		$scope.survey['veg'+$scope.box] = food;
		$('#ForV'+$scope.box).hide();
		$('#alpha'+$scope.box).hide();
		$('#list'+$scope.box).hide();
	}

	$scope.openOpt = function(box){
		$scope.box = box;
		for(var i = 1; i <= 3; i++){
			$('#ForV'+i).hide();
			$('#alpha'+i).hide();
			$('#list'+i).hide();
		}
		if($('#ForV' + box).is(':visible')){
			$('#ForV' + box).hide();
			$('#alpha'+box).hide();
		}else{
			$('#ForV' + box).show();
			//$scope.foodList = //based on type then box
		}
	}
	*/
	var date = '';

	$scope.setdate = function(){
		date = $('input')[0].value;
		$scope.day = $('input')[0].value;
	}

	$scope.submitSurvey = function(){
		if($scope.survey.frequency != '')
			$scope.survey[$scope.survey.frequency] = true;

		if($scope.survey.method != '')
			$scope.survey[$scope.survey.method] = true;

		if($scope.survey.day6 != null)
			$scope.survey['downtown_spent_'+$scope.survey.day6] = $scope.survey.downtown_spent;

		if($scope.survey.day10 != null)
			$scope.survey['spent_'+$scope.survey.day10] = $scope.survey.spent;
		$scope.survey.date = $('input')[0].value;

		if($scope.survey.date == ''){
			alert("Please Enter a Valid Date");
			return;
		}

		console.log($scope.survey.date);

		$.ajax({
			type: "POST",
			url: "/post_sales_slip",
			data: JSON.stringify($scope.survey),
			contentType: "application/json",
			success: function(data){
				console.log(data);
				location.href = '#successScreen';
				$('.btn-danger').click();
				setTimeout(ret, 1000);
			},
			error: function(data){
				alert("Error Submitting Data");
				location.href = '#successScreen';
				$('.btn-danger').click();
				setTimeout(ret, 1000);
			}
		});
	};

	$scope.reset = function(){
		$scope.survey = {};
	}

	function ret(){
		location.href = "#";
		$scope.reset();
	}
}

</script>
