<%= render "shared/menu" %>

<div id="survey" class="col-md-12" ng-app ng-controller="visitorCtrl">
  <div id="summary" class="main">

	<%= render "shared/nav" %>

  	<h1>Visitor Count</h1>
  	<div class="col-md-12">
  		<div class="col-md-3" ng-show="!small">
  			<h2>Sample Day</h2>
  		</div>
		<div class="col-md-9">
			<h2 style="  margin-top: 0px;">Sample Period</h2>
			<div class="period-list row">
				<div class="item" ng-click="changePeriod(0)" ng-class="{'ear-active' : period == 0}">Early</div>
				<div class="item" ng-click="changePeriod(1)" ng-class="{'active' : period == 1}">1</div>
				<div class="item" ng-click="changePeriod(2)" ng-class="{'active' : period == 2}">2</div>
				<div class="item" ng-click="changePeriod(3)" ng-class="{'active' : period == 3}">3</div>
				<div class="item" ng-click="changePeriod(4)" ng-class="{'active' : period == 4}">4</div>
				<div class="item" ng-click="changePeriod(5)" ng-class="{'active' : period == 5}">5</div>
				<div class="item" ng-click="changePeriod(6)" ng-class="{'active' : period == 6}">6</div>
				<div class="item" ng-click="changePeriod(7)" ng-class="{'active' : period == 7}">7</div>
				<div class="item" ng-click="changePeriod(8)" ng-class="{'active' : period == 8}">8</div>
			</div>
		</div>
		<div ng-show="small" class="col-md-9">
				<div class="row">
					<h2>Sample Day</h2>
				</div>
				<div class="row">
					<div class="period-list" style="width: 300px;margin-left: -10px;margin-top: 14px;">
						<div class="item" ng-click="changeDay(0)" ng-class="{'active' : day == 0}">1</div>
						<div class="item" ng-click="changeDay(1)" ng-class="{'active' : day == 1}">2</div>
						<div class="item" ng-click="changeDay(2)" ng-class="{'active' : day == 2}">3</div>
						<div class="item" ng-click="changeDay(3)" ng-class="{'active' : day == 3}">4</div>
					</div>
				</div>
			</div>
		<div class="col-md-12">
			<div ng-show="!small" class="col-md-3">
				<div class="row">
					<div class="btn-list">
						<ul>
							<li ng-click="changeDay(0)" ng-class="{'active' : day == 0}">1<input class="tcal" ng-model="day1"/></li>
							<li ng-click="changeDay(1)" ng-class="{'active' : day == 1}">2<input class="tcal" ng-model="day2"/></li>
							<li ng-click="changeDay(2)" ng-class="{'active' : day == 2}">3<input class="tcal" ng-model="day3"/></li>
							<li ng-click="changeDay(3)" ng-class="{'active' : day == 3}">4<input class="tcal" ng-model="day4"/></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<table style="  margin-top: 20px;">
						<tr data-ng-repeat="i in points[day][period] track by $index">
							<td style="width:252px"><label>{{(period == 0 ? 'In the Market' : 'Entry Point #'+$index + 1)}}</label></td>
							<td style="width:121px"><label>Count</label></td>
							<td style="width:114px"><input type="text" style="width: 35px;" ng-model="points[day][period][$index].count" class="hasPtTimeSelect"></td>
						</tr>
						<tr ng-show="period != 0">
							<td colspan="3"><a id="add" href="javascript:void(0)" ng-click="addPoint()">+</a><a href="javascript:void(0)" ng-click="removePoint()" id="rem">-</a></td>
						</tr>
					</table>
				</div>
				<div class="row">
					<a class="btn btn-default" href="javascript:void" ng-click="submitSurvey()">Save Page</a>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
<div id="successScreen"> 
	<a href="#" class="suc-text">Success!</a>
</div> 
<div id="cover" ></div>

<script type="text/javascript">

/*$(document).ready(function(){
  	$('body input').ptTimeSelect();
});*/

/*function check(){
	$('body input').ptTimeSelect();
}*/

function visitorCtrl($scope){
	$scope.points = <%= raw(@points.to_json) %>;
	$scope.small = $(window).width() <= 976;

	var profile = <%= raw(@profile.to_json) %>;
	$scope.day1 = profile.day1;
	$scope.day2 = profile.day2;
	$scope.day3 = profile.day3;
	$scope.day4 = profile.day4;

	$scope.day = 1;
	$scope.period = 1;

	console.log($scope.points);
	if($scope.points[0][0].length == 0) $scope.points[0][0] = [{}];
	if($scope.points[1][0].length == 0) $scope.points[1][0] = [{}]; 
	if($scope.points[2][0].length == 0) $scope.points[2][0] = [{}];
	if($scope.points[3][0].length == 0) $scope.points[3][0] = [{}];


	$scope.changeDay = function(i){
		$scope.day = i;
	}

	$scope.changePeriod= function(i){
		$scope.period = i;
	}

	$scope.addPoint = function(){
		if($scope.points[$scope.day][$scope.period].length < 10){
			$scope.points[$scope.day][$scope.period].push({});
		}
	}

	$scope.removePoint = function(){
		if($scope.points[$scope.day][$scope.period].length > 0){
			$scope.points[$scope.day][$scope.period].pop();
			//setTimeout(function(){ $('body input').ptTimeSelect();} ,250);
		}
	}

	$scope.setdate = function(ind){
		$scope['day'+ind] = $('.tcal')[ind].value;
	}

	$scope.submitSurvey = function(){
		/*$.each($('.t'), function(k,e){ 
			$scope.points[$scope.day][$scope.period][parseInt(k/2)][k % 2 == 0 ? 'start' : 'end'] = e.value;
			$scope.points[$scope.day][$scope.period][parseInt(k/2)]['ptNum'] = parseInt(k/2);
		});*/


		console.log($scope.points[$scope.day][$scope.period]);

		$.ajax({
			type: "POST",
			url: "/post_visitor_count",
			data: JSON.stringify({
				points: $scope.points[$scope.day][$scope.period], 
				day: $scope.day, period: $scope.period,
				day1 : $('.tcal')[0].value,
				day2 : $('.tcal')[1].value,
				day3 : $('.tcal')[2].value,
				day4 : $('.tcal')[3].value
			}),
			contentType: "application/json",
			success: function(data){
				console.log(data);
				location.href = '#successScreen';
				setTimeout(ret, 1000);
			},
			error: function(data){
				alert("Error Submitting Data");
			}
		});
	};

	function ret(){
		location.href = "#";
	}
}

</script>
