<%= render "shared/menu" %>

<div id="survey" class="col-md-12" ng-app ng-controller="visitorCtrl">
  <div id="summary" class="main">

	<%= render "shared/nav" %>

  	<h1>Visitor Survey</h1>
  	<div class="col-md-12">
  		<div class="col-md-6">
  			<div class="col-md-8">
	  			<label>Sample Date</label>
				<input type="text" ng-model="survey.date" class="tcal">
  			</div>
  		</div>
		<div class="col-md-6" ng-if="metrics[27]">
			<div class="row">
				<div class="row">
					<label>Did you arrive at the market today in a personal vehicle?</label>
				</div>
				<div class="row">
					<label class="yes">Yes <input type="radio" ng-model="survey.yes28" value="true" /></label>
					<label class="no">No <input type="radio" ng-model="survey.yes28" value="false" /></label>
				</div>
			</div>
			<div class="row" ng-show="survey.yes28 == 'false'">
				<label>What method did you use to get to the market today?</label>
				<select ng-model="survey.method"   style="max-width: 200px;margin: 10px;">
					<option value="bikes">Bicycle</option>
					<option value="walking">Walking</option>
					<option value="bus">Bus or other public transportation</option>
					<option value="taxi">Taxi</option>
					<option value="other_method">Other</option>
				</select>
			</div>
		</div>
		<div class="col-md-6" ng-if="metrics[12]">
			<div class="row">
				<div class="row">
					<label>Is this your first time visiting the market?</label>
				</div>
				<div class="row">
					<label class="yes">Yes <input type="radio" ng-model="survey.yes13" value="true" /></label>
					<label class="no">No <input type="radio" ng-model="survey.yes13" value="false" /></label>
				</div>
			</div>
			<div class="row" ng-show="survey.yes13 == 'false'">
				<label>So far this season, how frequently have you visited the market?</label>
				<select ng-model="survey.frequency" style="max-width: 200px;margin: 10px;">
					<option value="every_week">Every week</option>
					<option value="every_other_week">Every other week</option>
					<option value="every_month">Once a month</option>
					<option value="less_than_month">Less than once a month</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-6" ng-if="metrics[35]">
			<div class="row">
				<div class="row">
					<label>Did you or do you plan to purchase fruits or vegetables at this market today?</label>
				</div>
				<div class="row">
					<label class="yes">Yes <input type="radio" ng-model="survey.yes36" value="true" /></label>
					<label class="no">No <input type="radio" ng-model="survey.yes36" value="false" /></label>
				</div>
			</div>
			<div class="row" ng-show="survey.yes36 == 'true'">
				<div class="row">
					<label>Can you tell me the three fresh fruits or vegetables that you purchased the most of? Please list in alphabetical order.</label>
				</div>
				<div class="row">
					<select ng-model="type1" ng-change="selectLetter(type1,1)">
						<option value="f">Fruit</option>
						<option value="v">Vegetable</option>
					</select>
					<select ng-model="filter1" ng-change="selectGroup(filter1,1)" id="alpha1" style="display:none; margin-top:15px;  margin-left: 30px;width: 320px;">
						<option value="a">A - E</option>
						<option value="f">F - J</option>
						<option value="k">K - O</option>
						<option value="p">P - T</option>
						<option value="u">U - Z</option>
					</select>
					<div style="display:none;  margin-top: 15px; margin-left: 60px;width: 290px;" id ="food1">
						<select ng-model="survey.veg1"  >
							<option ng-repeat=" n in foodList1" value="{{n}}">{{n}}</option>
						</select>
					</div>
					
				</div>
				<div class="row">
					<select ng-model="type2" ng-change="selectLetter(type2,2)">
						<option value="f">Fruit</option>
						<option value="v">Vegetable</option>
					</select>
					<select ng-model="filter2" ng-change="selectGroup(filter2,2)" id="alpha2" style="display:none; margin-top:15px;  margin-left: 30px;width: 320px;">
						<option value="a">A - E</option>
						<option value="f">F - J</option>
						<option value="k">K - O</option>
						<option value="p">P - T</option>
						<option value="u">U - Z</option>
					</select>
					<div style="display:none;  margin-top: 15px; margin-left: 60px;width: 290px;" id ="food2">
						<select ng-model="survey.veg2"  >
							<option ng-repeat=" n in foodList2" value="{{n}}">{{n}}</option>
						</select>
					</div>
					
				</div>
				<div class="row">
					<select ng-model="type3" ng-change="selectLetter(type3,3)">
						<option value="f">Fruit</option>
						<option value="v">Vegetable</option>
					</select>
					<select ng-model="filter3" ng-change="selectGroup(filter3,3)" id="alpha3" style="display:none; margin-top:15px;  margin-left: 30px;width: 320px;">
						<option value="a">A - E</option>
						<option value="f">F - J</option>
						<option value="k">K - O</option>
						<option value="p">P - T</option>
						<option value="u">U - Z</option>
					</select>
					<div style="display:none;  margin-top: 15px; margin-left: 60px;width: 290px;" id ="food3">
						<select ng-model="survey.veg3"  >
							<option ng-repeat=" n in foodList3" value="{{n}}">{{n}}</option>
						</select>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-if="metrics[6]">
			<div class="row">
				<div class="row">
					<span style="font-size: 12px; font-weight: 700;">Did you or do you plan on doing additional shopping, eating, or other activities in this neighborhood/downtown area today?
					</span>
				</div>
				<div class="row">
					<label class="yes">Yes <input type="radio" ng-model="survey.yes7" value="true" /></label>
					<label class="no">No <input type="radio" ng-model="survey.yes7" value="false" /></label>
				</div>
			</div>
			<div class="row money" ng-show="survey.yes7 == 'true'">
				<label>How much money have you spent or do you plan to spend in the neighborhood/downtown area this {{survey.day6 ? survey.day6 : 'day'}}?</label>
				<div class="col-xs-12">
					<span class="col-xs-1 dollars">$</span>
					<input type="text" class="col-xs-10" ng-model="survey.downtown_spent_morning" style="width:82%;border-radius: 0px 6px 6px 0px !important;margin-left:0px !important;" />
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-6" ng-if="metrics[10]">
			<div class="row">
				<span style="font-size: 12px; font-weight: 700;">How much money have you spent or do you plan to spend at the market today? 

					<br /><em>Money includes cash, credit/debit, food assistance vouchers, and market tokens.</em>
				</span>
			</div>
			<div class="row money">
				<div class="col-xs-12">
					<span class="col-xs-1 dollars">$</span>
					<input type="text" class="col-xs-10" ng-model="survey.spent_morning" style="width:82%;border-radius: 0px 6px 6px 0px !important;margin-left:0px !important;" />
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-if="metrics[30]">
			<div class="row">
				<label class="col-xs-8">What is your home Zip code?</label>
				<input class="col-xs-3" style="width:25%" type="text" ng-model="survey.home_zip" />
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-offset-2 col-md-4">
			<a class="btn btn-default" href="javascript:void" ng-click="submitSurvey()">Submit</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-danger" href="javascript:void" ng-click="reset()">Reset</a>
		</div>
	</div>
  </div>
</div>
<div id="successScreen"> 
	<a href="#" class="suc-text">Success!</a>
</div> 
<div id="cover" ></div>

<script type="text/javascript">

function visitorCtrl($scope){
	
	//$('#sidebar ul li')[3].className = "active";

	$scope.metrics = <%= raw(@metrics.to_json) %>;
	$scope.survey = {};
	$scope.foodList = [];
	//$scope.day6 = 'day';

	$scope.selectLetter = function(type,num){
		$scope['type' +num] = type;
		$('#alpha' + num).show();
		$('#food' + num).hide();
	}

	var items = {};

	items['f'] = {};
	items['f']['a'] = ['Apples','Apricots','Apriums','Asian pears','Avocados','Blackberries','Blueberries','Boysenberries','Canary melons','Cantaloupes','Cherimoyas','Cherries','Currants','Dates'];
	items['f']['f'] = ['Fejioas','Figs','Gooseberries','Grapefruit','Grapes','Honeydew melons','Jujubes'];
	items['f']['k'] =['Kumquats','Lemons','Limes','Mulberries','Oranges'];
	items['f']['p'] = ['PawPaws','Peaches','Pears','Plums','Quince','Raspberries','Strawberries','Tangerines','Tayberries'];
	items['f']['u'] = ['Watermelons','Wineberries'];

	items['v'] = {};
	items['v']['a'] = ['Artichokes','Arugula','Asparagus','Beets','Beet green','Bok choy','Broccoli','Broccoli rabe','Brussels sprouts','Cabbage','Cardoons','Carrots','Cauliflower','Celeriac','Celery','Chard','Chicory','Chipilín','Collards','Cress','Cucumbers','Dandelion greens','Dry beans','Eggplant'];
	items['v']['f'] = ['Fava beans','Fennel','Garlic bulb','Garlic scapes','Green beans','Herbs (fresh)','Hierbamora','Horseradish','Jicama'];
	items['v']['k'] =['Kale','Kohlrabi','Lambs quarters','Leeks','Lettuce','Lima Beans','Mushrooms','Mustard greens','Okra','Onions'];
	items['v']['p'] = ['Parsnips','Peas','Pea shoots','Peppers (hot)','Peppers (sweet)','Pumpkins','Potatoes','Purslane','Squash (summer)','Squash (winter)','Radishes','Rhubarb','Rutabagas','Salsify','Scallions','Shallots','Spinach','Sprout','Sunchokes','Sweet corn','Sweet potatoes','Sweet potato greens','Tomatillos','Tomatoes','Turnip','Turnip greens'];
	items['v']['u'] = ['Yacon'];

	$scope.selectGroup = function(filter,num){
		$('#food'+num).hide();
		$scope['foodList' + num] = items[$scope['type'+num]][filter];
		console.log($scope.foodList);
		$('#food'+num).show();
	}

	$scope.hideList = function(num){
		$('#food'+num).hide();
	}

	$scope.food = {};
	$scope.date = '';

	$scope.submitSurvey = function(){
		if($scope.survey.frequency != '')
			$scope.survey[$scope.survey.frequency] = true;

		if($scope.survey.method != '')
			$scope.survey[$scope.survey.method] = true;

		if($scope.survey.veg1) $scope.food[$scope.survey.veg1] = true;
		if($scope.survey.veg2) $scope.food[$scope.survey.veg2] = true;
		if($scope.survey.veg3) $scope.food[$scope.survey.veg3] = true;

		if(($scope.date = $('input')[0].value) == ""){
			alert("Please Enter a Date");
			return;
		}
		console.log($scope.date);

		$scope.survey.date = $('input')[0].value;
		$scope.food.Honeydew_melons = $scope.food["Honeydew melons"] == undefined ? false : $scope.food["Honeydew melons"] ;
		$scope.food.Asian_pears = $scope.food["Asian pears"] == undefined ? false : $scope.food["Asian pears"];
		$scope.food.Canary_melons = $scope.food["Canary melons"] == undefined ? false : $scope.food["Canary melons"];	
		$scope.food.Beet_greens = $scope.food["Beet green"] == undefined ? false : $scope.food["Beet green"];
		$scope.food.Bok_choy = $scope.food["Bok choy"] == undefined ? false : $scope.food["Bok choy"];
		$scope.food.Broccoli_rabe = $scope.food["Broccoli rabe"] == undefined ? false : $scope.food["Broccoli rabe"];
		$scope.food.Brussels_sprouts = $scope.food["Brussels sprouts"] == undefined ? false : $scope.food["Brussels sprouts"];
		$scope.food.Dandelion_greens = $scope.food["Dandelion greens"] == undefined ? false : $scope.food["Dandelion greens"];
		$scope.food.Dry_beans = $scope.food["Dry beans"] == undefined ? false : $scope.food["Dry beans"];
		$scope.food.Fava_beans = $scope.food["Fava beans"] == undefined ? false : $scope.food["Fava beans"];
		$scope.food.Garlic_bulb = $scope.food["Garlic bulb"] == undefined ? false : $scope.food["Garlic bulb"];
		$scope.food.Garlic_scapes = $scope.food["Garlic scapes"] == undefined ? false : $scope.food["Garlic scapes"];
		$scope.food.Green_beans = $scope.food["Green beans"] == undefined ? false : $scope.food["Green beans"];
		$scope.food.Herbs_fresh = $scope.food["Herbs (fresh)"] == undefined ? false : $scope.food["Herbs (fresh)"];
		$scope.food.Lambs_quarters = $scope.food["Lambs quarters"] == undefined ? false : $scope.food["Lambs quarters"];
		$scope.food.Lima_Beans = $scope.food["Lima Beans"] == undefined ? false : $scope.food["Lima Beans"];
		$scope.food.Mustard_greens = $scope.food["Mustard greens"] == undefined ? false : $scope.food["Mustard greens"];
		$scope.food.Pea_shoots = $scope.food["Pea shoots"] == undefined ? false : $scope.food["Pea shoots"];
		$scope.food.Peppers_hot = $scope.food["Peppers (hot)"] == undefined ? false : $scope.food["Peppers (hot)"];
		$scope.food.Peppers_sweet = $scope.food["Peppers (sweet)"] == undefined ? false : $scope.food["Peppers (sweet)"];
		$scope.food.Squash_summer = $scope.food["Squash (summer)"] == undefined ? false : $scope.food["Squash (summer)"];
		$scope.food.Squash_winter = $scope.food["Squash (winter)"] == undefined ? false : $scope.food["Squash (winter)"];
		$scope.food.Sweet_corn = $scope.food["Sweet corn"] == undefined ? false : $scope.food["Sweet corn"];
		$scope.food.Sweet_potatoes = $scope.food["Sweet potato greens"] == undefined ? false : $scope.food["Sweet potato greens"];
		$scope.food.Sweet_potato = $scope.food["Sweet potatoes"] == undefined ? false : $scope.food["Sweet potatoes"];
		$scope.food.Turnip_greens = $scope.food["Turnip greens"] == undefined ? false : $scope.food["Turnip greens"];
		

		delete $scope.food["Honeydew melons"];
		delete $scope.food["Asian pears"];
		delete $scope.food["Canary melons"];
		delete $scope.food["Beet green"];
		delete $scope.food["Bok choy"];
		delete $scope.food["Broccoli rabe"];
		delete $scope.food["Brussels sprouts"];
		delete $scope.food["Dandelion greens"];
		delete $scope.food["Dry beans"];
		delete $scope.food["Fava beans"];
		delete $scope.food["Garlic bulb"];
		delete $scope.food["Green beans"];
		delete $scope.food["Herbs (fresh)"];
		delete $scope.food["Lambs quarters"];
		delete $scope.food["Lima Beans"];
		delete $scope.food["Mustard greens"];
		delete $scope.food["Pea shoots"];
		delete $scope.food["Peppers (hot)"];
		delete $scope.food["Peppers (sweet)"];
		delete $scope.food["Squash (summer)"];
		delete $scope.food["Squash (winter)"];
		delete $scope.food["Sweet corn"];
		delete $scope.food["Sweet potato greens"];
		delete $scope.food["Turnip greens"];
		delete $scope.food["Sweet potatoes"];


		$scope.survey.food = $scope.food;
		console.log($scope.survey);

		$.ajax({
			type: "POST",
			url: "/post_visitor_survey",
			data: JSON.stringify($scope.survey),
			contentType: "application/json",
			success: function(data){
				console.log(data);
				location.href = '#successScreen';
				$('.btn-danger').click();//for some fucking reason
				setTimeout(ret, 1000);
			},
			error: function(data){
				alert("Error Submitting Data");
				$('.btn-danger').click();
			}
		});
	};

	$scope.reset = function(){
		$scope.survey = {};
		$scope.food = {};
	}

	function ret(){
		location.href = "#";
		$('input')[0].value = $scope.date;
	}
}

</script>
