<div class="col-md-12" id="sidebar">
    <div class="row">
    	<ul>
    		<li><%= link_to "Update Profile", controller: "users", action: "show", id: @user.id %></li>
    		<li><%= link_to "View Farmers Market", controller: "users", action: "display" %></li>
			<li><%= link_to "Logout", controller: "sessions", action: "logout" %></li>
		</ul>
	</div>
</div>