<div class="col-md-12" id="sidebar">
    <div class="row">
			<label>New to FMC? Click</label><%= link_to "here", controller: "users", action: "new"%>
	</div>
	<div class="clearfix"></div>
    <div class="row">
			<label>Log in to your profile</label><%= link_to "here", controller: "sessions", action: "login"%>	
	</div>

</div>