<div class="col-md-12" id="sidebar">
    <div class="row">
		<ul>
    		<li class="hvr-sweep-to-right"><%= link_to "New to FMC? Sign up!", controller: "users", action: "new" %></li>
    		<li class="hvr-sweep-to-right"><%= link_to "Log in to your profile", controller: "sessions", action: "login" %></li>
		</ul>
	</div>
</div>