<div class="col-md-12">
	<div class="clearfix"></div>
    <div class="row">
		<label class="col-md-4">Login</label>
		<div class="col-md-8">
			<%= link_to "Log in", controller: "sessions", action: "login"%>
		</div>	
	</div>
	<div class="clearfix"></div>
    <div class="row">
		<label class="col-md-4">Sign Up</label>
		<div class="col-md-8">
			<%= link_to "Sign up", action: "new"%>
		</div>
	</div>
	<div class="clearfix"></div>
</div>