<div class="col-md-12" id="menu">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div clas="col-md-12">
			<div class="col-md-4" id="logo">
				<img src="<%= asset_path( 'logo.jpg' ) %>" />
			</div>
	
			<h1 id="title" class="col-md-6">Metrics Portal<span style="  color: #0099cc; font-size: 18px;">&#946;</span></h1>
			<div class="col-md-2">
				<img src="<%= asset_path('uw.png') %>" style="width: 90px;padding: 20px 20px 0px 0px;"/>
			</div>
		</div>
	</div>
</div>