/* @import "bootstrap"; */
/* line 14, ../../../app/assets/stylesheets/application.css.scss */
body {
  color: #1E120D;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Droid Serif", serif;
  font-weight: 400;
}

/* line 22, ../../../app/assets/stylesheets/application.css.scss */
.main h1 {
  color: #e2e2e2;
  font-family: "Droid Sans", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* line 29, ../../../app/assets/stylesheets/application.css.scss */
input[type="text"], input[type="password"] {
  margin: 5px;
  padding: 5px;
}

/* line 33, ../../../app/assets/stylesheets/application.css.scss */
label {
  margin: 5px;
}

/* line 36, ../../../app/assets/stylesheets/application.css.scss */
.btn-default {
  background-color: #e7540c !important;
  border-radius: 0px !important;
  font-family: "Droid Sans", sans-serif;
  border: 0 !important;
  padding: 5px 20px;
  color: white !important;
}

/* line 44, ../../../app/assets/stylesheets/application.css.scss */
.int-input {
  width: 40px;
}

/* line 47, ../../../app/assets/stylesheets/application.css.scss */
.plus {
  font-size: 32px;
  padding: 0px 10px;
  color: green;
  text-shadow: 0 0 9px whitesmoke;
}
/* line 52, ../../../app/assets/stylesheets/application.css.scss */
.plus:hover {
  color: green;
  text-decoration: none;
}
/* line 56, ../../../app/assets/stylesheets/application.css.scss */
.plus:active {
  color: green;
  text-decoration: none;
}

/* line 61, ../../../app/assets/stylesheets/application.css.scss */
.minus {
  font-size: 32px;
  padding: 0px 10px;
  color: red;
  text-shadow: 0 0 9px whitesmoke;
}
/* line 66, ../../../app/assets/stylesheets/application.css.scss */
.minus:hover {
  color: red;
  text-decoration: none;
}
/* line 70, ../../../app/assets/stylesheets/application.css.scss */
.minus:active {
  color: red;
  text-decoration: none;
}

/* line 76, ../../../app/assets/stylesheets/application.css.scss */
#market-program .fixed label {
  float: left;
}
/* line 79, ../../../app/assets/stylesheets/application.css.scss */
#market-program input[type='radio'] {
  display: block;
  float: left;
  width: 25%;
}

/* line 85, ../../../app/assets/stylesheets/application.css.scss */
.step {
  background-color: #e7540c;
  color: #eee;
  padding: 10px;
  border-radius: 18px;
}

/* line 91, ../../../app/assets/stylesheets/application.css.scss */
#menu {
  border-top: 4px solid #55873A;
  min-height: 160px;
}
/* line 94, ../../../app/assets/stylesheets/application.css.scss */
#menu #title {
  color: #333;
  font-size: 35px;
  font-weight: 600;
  padding: 20px;
  font-family: "Droid Sans", sans-serif;
}

/* line 102, ../../../app/assets/stylesheets/application.css.scss */
#home-page {
  margin-top: 30px;
}
/* line 104, ../../../app/assets/stylesheets/application.css.scss */
#home-page .item {
  background-color: #eee;
  padding: 4px 10px;
  border-radius: 10px;
  margin-top: 14px;
}
/* line 109, ../../../app/assets/stylesheets/application.css.scss */
#home-page .item .num {
  background-color: #e7540c;
  color: #eee;
  padding: 1px 5px;
  border-radius: 10px;
}

/* line 119, ../../../app/assets/stylesheets/application.css.scss */
#credit-sales td.fixed input {
  width: 160px;
}

/* line 125, ../../../app/assets/stylesheets/application.css.scss */
#food-assistance th.fixed {
  max-width: 100px;
}
/* line 128, ../../../app/assets/stylesheets/application.css.scss */
#food-assistance td.fixed {
  max-width: 100px;
}
/* line 130, ../../../app/assets/stylesheets/application.css.scss */
#food-assistance td.fixed input {
  width: 90px;
}
/* line 134, ../../../app/assets/stylesheets/application.css.scss */
#food-assistance td.dollar {
  max-width: 100px;
}
/* line 136, ../../../app/assets/stylesheets/application.css.scss */
#food-assistance td.dollar input {
  width: 80px;
}

/* line 141, ../../../app/assets/stylesheets/application.css.scss */
#sidebar {
  padding: 25px;
  font-family: "Droid Sans", sans-serif;
  color: #333;
}
/* line 142, ../../../app/assets/stylesheets/application.css.scss */
#sidebar .progress-bar-success {
  background-color: #e7540c;
}
/* line 148, ../../../app/assets/stylesheets/application.css.scss */
#sidebar .link {
  padding-top: 5px;
}
/* line 150, ../../../app/assets/stylesheets/application.css.scss */
#sidebar .link a {
  color: #1E120D !important;
}
/* line 154, ../../../app/assets/stylesheets/application.css.scss */
#sidebar ul {
  padding: 0px;
  width: 100%;
  border: 15px solid #e2e2e2;
  list-style-type: none;
  border-radius: 10px;
  margin: 0;
}
/* line 161, ../../../app/assets/stylesheets/application.css.scss */
#sidebar ul li {
  background-color: #333;
  padding: 7px;
  border: 1px solid #e2e2e2;
  font-size: 12px;
  width: 100%;
}
/* line 167, ../../../app/assets/stylesheets/application.css.scss */
#sidebar ul li a {
  color: #e2e2e2;
}
/* line 169, ../../../app/assets/stylesheets/application.css.scss */
#sidebar ul li a:hover {
  text-decoration: none;
}
/* line 174, ../../../app/assets/stylesheets/application.css.scss */
#sidebar ul li.active {
  background-color: #55873A !important;
}

/* line 179, ../../../app/assets/stylesheets/application.css.scss */
.hours {
  width: 50px;
}
/* line 181, ../../../app/assets/stylesheets/application.css.scss */
.hours input {
  width: 45px;
}

/* line 185, ../../../app/assets/stylesheets/application.css.scss */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 200, ../../../app/assets/stylesheets/application.css.scss */
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55873A;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 220, ../../../app/assets/stylesheets/application.css.scss */
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

/* line 223, ../../../app/assets/stylesheets/application.css.scss */
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 228, ../../../app/assets/stylesheets/application.css.scss */
#survey [type='radio'] {
  display: none;
}

/* line 232, ../../../app/assets/stylesheets/application.css.scss */
#newUser, #showUser, #survey {
  display: table;
  background-color: #e2e2e2;
}
/* line 235, ../../../app/assets/stylesheets/application.css.scss */
#newUser .main, #showUser .main, #survey .main {
  padding: 25px;
  background-color: #55873A;
  width: 800px;
  margin: auto;
  display: table;
}
/* line 243, ../../../app/assets/stylesheets/application.css.scss */
#newUser #mission_statement, #showUser #mission_statement, #survey #mission_statement {
  display: none;
}
/* line 245, ../../../app/assets/stylesheets/application.css.scss */
#newUser #mission_statement .col-md-12, #showUser #mission_statement .col-md-12, #survey #mission_statement .col-md-12 {
  background-color: #e2e2e2;
  border-radius: 8px;
  padding: 10px;
}
/* line 249, ../../../app/assets/stylesheets/application.css.scss */
#newUser #mission_statement .col-md-12 .full, #showUser #mission_statement .col-md-12 .full, #survey #mission_statement .col-md-12 .full {
  width: 100%;
  float: left;
}
/* line 252, ../../../app/assets/stylesheets/application.css.scss */
#newUser #mission_statement .col-md-12 .full input[type="checkbox"], #showUser #mission_statement .col-md-12 .full input[type="checkbox"], #survey #mission_statement .col-md-12 .full input[type="checkbox"] {
  float: right;
}
/* line 258, ../../../app/assets/stylesheets/application.css.scss */
#newUser ul.navig, #showUser ul.navig, #survey ul.navig {
  position: absolute;
  top: -20px;
  width: 100%;
}
/* line 262, ../../../app/assets/stylesheets/application.css.scss */
#newUser ul.navig li, #showUser ul.navig li, #survey ul.navig li {
  text-align: center;
  overflow: visible;
  display: inline-block;
  width: calc(92% / 4);
}
/* line 267, ../../../app/assets/stylesheets/application.css.scss */
#newUser ul.navig li a, #showUser ul.navig li a, #survey ul.navig li a {
  cursor: pointer;
  float: right;
  z-index: 4;
  background-color: #e2e2e2;
  border-radius: 15px;
  width: 30px;
  color: black;
  padding: 4px;
}
/* line 278, ../../../app/assets/stylesheets/application.css.scss */
#newUser ul.navig li.thirds, #showUser ul.navig li.thirds, #survey ul.navig li.thirds {
  width: calc(92% / 3);
}
/* line 282, ../../../app/assets/stylesheets/application.css.scss */
#newUser textarea, #showUser textarea, #survey textarea {
  resize: none;
  width: 100%;
  float: left;
  border-radius: 8px;
}
/* line 288, ../../../app/assets/stylesheets/application.css.scss */
#newUser select, #showUser select, #survey select {
  background-color: white;
  border-radius: 7px;
  height: 32px;
  border: 0;
  width: 100%;
}

/* line 297, ../../../app/assets/stylesheets/application.css.scss */
#survey .row {
  padding: 2px 10px;
}

/* line 302, ../../../app/assets/stylesheets/application.css.scss */
nav a {
  margin: 0 !important;
}
/* line 304, ../../../app/assets/stylesheets/application.css.scss */
nav a .navbar-brand {
  margin: 0;
}

/* line 309, ../../../app/assets/stylesheets/application.css.scss */
.btn-list {
  cursor: pointer;
}
/* line 311, ../../../app/assets/stylesheets/application.css.scss */
.btn-list ul {
  background-color: #eee;
  list-style: none;
  border-radius: 5px;
  padding: 0px;
  width: 148px;
}
/* line 317, ../../../app/assets/stylesheets/application.css.scss */
.btn-list ul li {
  padding: 6px 13px;
}
/* line 319, ../../../app/assets/stylesheets/application.css.scss */
.btn-list ul li input {
  width: 100px;
  margin-left: 10px;
}
/* line 324, ../../../app/assets/stylesheets/application.css.scss */
.btn-list ul li.active {
  background-color: #e7540c;
  border-radius: 20px;
  padding: 13px;
  height: 46px;
  width: 160px;
  position: relative;
  right: 6px;
  bottom: 6px;
  color: white;
}
/* line 334, ../../../app/assets/stylesheets/application.css.scss */
.btn-list ul li.active input {
  color: black;
}

/* line 340, ../../../app/assets/stylesheets/application.css.scss */
.period-list {
  cursor: pointer;
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
  height: 30px;
}
/* line 346, ../../../app/assets/stylesheets/application.css.scss */
.period-list .item {
  width: 11%;
  float: left;
  padding: 4px 20px 4px 10px;
  height: 30px;
}
/* line 352, ../../../app/assets/stylesheets/application.css.scss */
.period-list .active {
  background-color: #e7540c;
  border-radius: 20px;
  width: 46px;
  padding: 13px 18px;
  height: 46px;
  position: relative;
  right: 6px;
  bottom: 10px;
  color: white;
}
/* line 363, ../../../app/assets/stylesheets/application.css.scss */
.period-list .ear-active {
  background-color: #e7540c;
  border-radius: 20px;
  width: 57px;
  padding: 13px 14px;
  height: 46px;
  position: relative;
  right: 6px;
  bottom: 10px;
  color: white;
}

/* line 375, ../../../app/assets/stylesheets/application.css.scss */
#rem {
  float: left;
  width: 240px !important;
  text-align: center;
  color: red;
  font-size: 30px;
  text-decoration: none;
}

/* line 383, ../../../app/assets/stylesheets/application.css.scss */
#add {
  float: left;
  width: 240px !important;
  text-align: center;
  color: green;
  font-size: 30px;
  text-decoration: none;
}

/* line 391, ../../../app/assets/stylesheets/application.css.scss */
#add-span {
  float: left;
  width: 100% !important;
  text-align: center;
  color: green;
  font-size: 30px;
  text-decoration: none;
}

/* line 400, ../../../app/assets/stylesheets/application.css.scss */
#metrics li {
  cursor: default;
}

/* line 404, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list {
  margin-top: 20px;
}
/* line 405, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list h1 {
  font-weight: 600;
  font-family: "Droid Sans",sans-serif;
  color: #e2e2e2;
  padding: 4px 10px;
  background-color: #e7540c;
  border-radius: 8px 8px 0px 0px;
  width: 560px;
  margin: 0 auto;
  margin-left: 130px;
}
/* line 417, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list ul {
  max-height: 45vh;
  overflow-y: auto;
  width: 600px;
  margin: 0 auto;
}
/* line 422, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list ul li {
  background-color: #e2e2e2;
  padding: 3px;
  border: 1px solid #333;
  list-style-type: none;
}
/* line 427, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list ul li input {
  float: left;
  margin: 3px;
  padding: 3px;
}

/* line 435, ../../../app/assets/stylesheets/application.css.scss */
.selectGroup {
  padding: 5px 0px;
}
/* line 437, ../../../app/assets/stylesheets/application.css.scss */
.selectGroup .level1 {
  display: none;
  margin-top: 15px;
  margin-left: 30px;
  width: 310px !important;
}
/* line 444, ../../../app/assets/stylesheets/application.css.scss */
.selectGroup .level2 {
  display: none;
  margin-top: 15px;
  margin-left: 60px;
  width: 280px;
}

/* line 452, ../../../app/assets/stylesheets/application.css.scss */
.radioGroup .radio {
  cursor: pointer;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px 10px !important;
}
/* line 458, ../../../app/assets/stylesheets/application.css.scss */
.radioGroup .radio .loc {
  font-size: 12px !important;
}
/* line 462, ../../../app/assets/stylesheets/application.css.scss */
.radioGroup .active {
  cursor: pointer;
  background-color: #333;
  padding: 7px 13px;
  border-radius: 15px;
  margin: 2px 10px !important;
  color: white;
  font-size: 14px !important;
}
/* line 470, ../../../app/assets/stylesheets/application.css.scss */
.radioGroup .active .loc {
  font-size: 13px !important;
}

/* line 476, ../../../app/assets/stylesheets/application.css.scss */
#summary a {
  width: 100%;
  margin: 15px 0px;
}
/* line 480, ../../../app/assets/stylesheets/application.css.scss */
#summary label {
  float: left;
  margin: 2px;
  font-size: 13px;
}
/* line 485, ../../../app/assets/stylesheets/application.css.scss */
#summary input[type="text"] {
  float: left;
  margin: 2px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 3px;
}
/* line 493, ../../../app/assets/stylesheets/application.css.scss */
#summary .loc-drop {
  display: none;
}
/* line 495, ../../../app/assets/stylesheets/application.css.scss */
#summary .loc-drop .col-md-12 {
  border-radius: 0px 0px 7px 7px;
  background-color: #e2e2e2;
  padding: 10px;
}
/* line 502, ../../../app/assets/stylesheets/application.css.scss */
#summary .skinny label {
  width: 70%;
  font-size: 11px;
  padding: 3px;
}
/* line 507, ../../../app/assets/stylesheets/application.css.scss */
#summary .skinny input {
  width: 24%;
}
/* line 511, ../../../app/assets/stylesheets/application.css.scss */
#summary h4.drop-but {
  font-size: 15px;
  font-family: "Droid Sans", sans-serif;
  background-color: #e7540c;
  padding: 6px;
  color: #e2e2e2;
  border-radius: 8px;
  height: 30px;
}
/* line 521, ../../../app/assets/stylesheets/application.css.scss */
#summary table th {
  padding: 5px;
}
/* line 524, ../../../app/assets/stylesheets/application.css.scss */
#summary table tr {
  background-color: #e2e2e2;
  border: 1px solid grey;
}
/* line 527, ../../../app/assets/stylesheets/application.css.scss */
#summary table tr td {
  font-weight: 600;
  font-size: 13px;
  font-family: "Droid Sans", sans-serif;
  padding: 3px;
}
/* line 533, ../../../app/assets/stylesheets/application.css.scss */
#summary table tr td.first {
  width: 200px;
}
/* line 539, ../../../app/assets/stylesheets/application.css.scss */
#summary table.plain-table tr {
  background-color: transparent;
  border: 0;
}
/* line 542, ../../../app/assets/stylesheets/application.css.scss */
#summary table.plain-table tr td.first {
  width: 200px;
}

/* line 549, ../../../app/assets/stylesheets/application.css.scss */
.profile-info h2 {
  font-weight: 600;
  font-family: "Droid Sans",sans-serif;
  color: #e2e2e2;
}
/* line 554, ../../../app/assets/stylesheets/application.css.scss */
.profile-info .profile-group {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

/* line 560, ../../../app/assets/stylesheets/application.css.scss */
.profile-header {
  cursor: pointer;
}
/* line 562, ../../../app/assets/stylesheets/application.css.scss */
.profile-header #info, .profile-header #impact {
  display: none;
}
/* line 565, ../../../app/assets/stylesheets/application.css.scss */
.profile-header #markets {
  display: none;
}
/* line 567, ../../../app/assets/stylesheets/application.css.scss */
.profile-header #markets .date {
  font-size: 12px;
}
/* line 571, ../../../app/assets/stylesheets/application.css.scss */
.profile-header h2 {
  font-weight: 600;
  font-family: "Droid Sans",sans-serif;
  color: #e2e2e2;
  width: 100%;
  padding: 4px 10px;
  background-color: #e7540c;
  border-radius: 8px;
}
/* line 580, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group {
  background-color: white;
  padding: 20px;
  font-size: 12px;
}
/* line 584, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group h3 {
  margin: 10px 5px;
}
/* line 586, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group h3 span {
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  color: #e2e2e2;
  background-color: #55873A;
  padding: 4px;
  border-radius: 8px;
}
/* line 595, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group .val {
  padding: 5px;
}
/* line 598, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group .row {
  margin-bottom: 15px;
}

/* line 603, ../../../app/assets/stylesheets/application.css.scss */
label.yes {
  cursor: pointer;
  background-color: #33CC33;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px 10px !important;
}

/* line 610, ../../../app/assets/stylesheets/application.css.scss */
.label-sel {
  color: white;
}

/* line 613, ../../../app/assets/stylesheets/application.css.scss */
.hasPtTimeSelect {
  border: 1px solid;
}

/* line 616, ../../../app/assets/stylesheets/application.css.scss */
select {
  cursor: pointer;
}

/* line 619, ../../../app/assets/stylesheets/application.css.scss */
input[type='checkbox'] {
  cursor: pointer;
}

/* line 622, ../../../app/assets/stylesheets/application.css.scss */
input[type='radio'] {
  cursor: pointer;
}

/* line 625, ../../../app/assets/stylesheets/application.css.scss */
label.no {
  cursor: pointer;
  background-color: #FF1919;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px 10px !important;
}

/* line 632, ../../../app/assets/stylesheets/application.css.scss */
label.day {
  padding: 1px 4px;
  background-color: #eee;
  border-radius: 7px;
  float: none !important;
}

/* line 638, ../../../app/assets/stylesheets/application.css.scss */
.opt {
  position: absolute;
  display: none;
  background-color: #eee;
  padding: 3px;
  border: 2px solid #333;
  border-radius: 4px;
  z-index: 2;
}
/* line 646, ../../../app/assets/stylesheets/application.css.scss */
.opt ul {
  cursor: pointer;
  list-style: none;
  padding-left: 3px;
  margin-bottom: 5px;
}

/* line 654, ../../../app/assets/stylesheets/application.css.scss */
.money .dollars {
  background-color: #eee;
  padding: 4px;
  margin: 2px 0px;
  text-align: right;
  border-radius: 6px 0px 0px 6px;
}
/* line 661, ../../../app/assets/stylesheets/application.css.scss */
.money .col-xs-3, .money .col-xs-10 {
  padding-left: 0px !important;
}
/* line 663, ../../../app/assets/stylesheets/application.css.scss */
.money .col-xs-3 input[type="text"], .money .col-xs-10 input[type="text"] {
  border-radius: 0px 6px 6px 0px !important;
  margin-left: 0px !important;
}

/* line 669, ../../../app/assets/stylesheets/application.css.scss */
#cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}

/* line 679, ../../../app/assets/stylesheets/application.css.scss */
#successScreen {
  height: 80px;
  width: 340px;
  margin: 0 auto;
  position: relative;
  background-color: #ccc;
  top: 50vh;
  z-index: 10;
  display: none;
  border: 5px solid #cccccc;
  border-radius: 10px;
}

/* line 691, ../../../app/assets/stylesheets/application.css.scss */
#successScreen:target, #successScreen:target + #cover {
  display: block;
  opacity: 2;
}

/* line 694, ../../../app/assets/stylesheets/application.css.scss */
.suc-text {
  display: block;
  position: absolute;
  top: 11px;
  left: 100px;
  font-size: 30px;
  color: green;
}

/* line 703, ../../../app/assets/stylesheets/application.css.scss */
#home p {
  font-size: 15px;
}
/* line 705, ../../../app/assets/stylesheets/application.css.scss */
#home p a {
  color: #eee;
}
/* line 707, ../../../app/assets/stylesheets/application.css.scss */
#home p a:hover {
  text-decoration: none;
}
