/* @import "bootstrap"; */
/* line 14, ../../../app/assets/stylesheets/application.css.scss */
body {
  color: #1E120D;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Droid Serif", serif;
  font-weight: 400;
}

/* line 22, ../../../app/assets/stylesheets/application.css.scss */
.main h1 {
  color: #e2e2e2;
  font-family: "Droid Sans", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* line 29, ../../../app/assets/stylesheets/application.css.scss */
input[type="text"], input[type="password"] {
  margin: 5px;
  padding: 5px;
}

/* line 33, ../../../app/assets/stylesheets/application.css.scss */
label {
  margin: 5px;
}

/* line 36, ../../../app/assets/stylesheets/application.css.scss */
.btn-default {
  background-color: #e7540c !important;
  border-radius: 0px !important;
  font-family: "Droid Sans", sans-serif;
  border: 0 !important;
  padding: 5px 20px;
  color: white !important;
}

/* line 45, ../../../app/assets/stylesheets/application.css.scss */
#menu {
  border-top: 4px solid #55873A;
  min-height: 160px;
}
/* line 48, ../../../app/assets/stylesheets/application.css.scss */
#menu #title {
  color: #333;
  font-size: 35px;
  font-weight: 600;
  padding: 20px;
  font-family: "Droid Sans", sans-serif;
}

/* line 56, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left {
  max-width: 240px;
  margin-right: -90px;
  float: left;
}
/* line 60, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar {
  padding: 25px;
  font-family: "Droid Sans", sans-serif;
  color: #333;
}
/* line 61, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar .progress-bar-success {
  background-color: #e7540c;
}
/* line 67, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar .link {
  padding-top: 5px;
}
/* line 69, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar .link a {
  color: #1E120D !important;
}
/* line 73, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar ul {
  list-style-type: none;
}
/* line 75, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar ul li {
  background-color: #333;
  padding: 7px;
  border: 1px solid #e2e2e2;
  font-size: 12px;
  width: 80%;
}
/* line 81, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar ul li a {
  color: #e2e2e2;
}
/* line 83, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar ul li a:hover {
  text-decoration: none;
}
/* line 88, ../../../app/assets/stylesheets/application.css.scss */
.sidebar-left #sidebar ul li.active {
  background-color: #55873A !important;
}

/* line 95, ../../../app/assets/stylesheets/application.css.scss */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 110, ../../../app/assets/stylesheets/application.css.scss */
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55873A;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 130, ../../../app/assets/stylesheets/application.css.scss */
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

/* line 133, ../../../app/assets/stylesheets/application.css.scss */
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 138, ../../../app/assets/stylesheets/application.css.scss */
#newUser, #showUser, #survey {
  display: table;
  background-color: #e2e2e2;
}
/* line 141, ../../../app/assets/stylesheets/application.css.scss */
#newUser .main, #showUser .main, #survey .main {
  padding: 25px;
  background-color: #55873A;
  width: 800px;
  margin: auto;
  display: table;
}
/* line 149, ../../../app/assets/stylesheets/application.css.scss */
#newUser #mission_statement, #showUser #mission_statement, #survey #mission_statement {
  display: none;
}
/* line 151, ../../../app/assets/stylesheets/application.css.scss */
#newUser #mission_statement .col-md-12, #showUser #mission_statement .col-md-12, #survey #mission_statement .col-md-12 {
  background-color: #e2e2e2;
  border-radius: 8px;
  padding: 10px;
}
/* line 155, ../../../app/assets/stylesheets/application.css.scss */
#newUser #mission_statement .col-md-12 .full, #showUser #mission_statement .col-md-12 .full, #survey #mission_statement .col-md-12 .full {
  width: 100%;
  float: left;
}
/* line 158, ../../../app/assets/stylesheets/application.css.scss */
#newUser #mission_statement .col-md-12 .full input[type="checkbox"], #showUser #mission_statement .col-md-12 .full input[type="checkbox"], #survey #mission_statement .col-md-12 .full input[type="checkbox"] {
  float: right;
}
/* line 164, ../../../app/assets/stylesheets/application.css.scss */
#newUser ul.nav, #showUser ul.nav, #survey ul.nav {
  position: absolute;
  top: -20px;
  width: 100%;
}
/* line 168, ../../../app/assets/stylesheets/application.css.scss */
#newUser ul.nav li, #showUser ul.nav li, #survey ul.nav li {
  text-align: center;
  overflow: visible;
  display: inline-block;
  width: calc(92% / 4);
}
/* line 173, ../../../app/assets/stylesheets/application.css.scss */
#newUser ul.nav li a, #showUser ul.nav li a, #survey ul.nav li a {
  float: right;
  z-index: 4;
  background-color: #e2e2e2;
  border-radius: 15px;
  width: 30px;
  color: black;
  padding: 4px;
}
/* line 184, ../../../app/assets/stylesheets/application.css.scss */
#newUser textarea, #showUser textarea, #survey textarea {
  resize: none;
  width: 100%;
  float: left;
  border-radius: 8px;
}
/* line 190, ../../../app/assets/stylesheets/application.css.scss */
#newUser select, #showUser select, #survey select {
  background-color: white;
  border-radius: 7px;
  height: 32px;
  border: 0;
  width: 100%;
}

/* line 199, ../../../app/assets/stylesheets/application.css.scss */
#survey .row {
  padding: 2px 10px;
}

/* line 203, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list {
  margin-top: 20px;
}
/* line 205, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list ul {
  max-height: 45vh;
  overflow-y: auto;
  width: 75%;
  margin: 0 auto;
}
/* line 210, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list ul li {
  background-color: #e2e2e2;
  padding: 3px;
  border: 1px solid #333;
  list-style-type: none;
}
/* line 215, ../../../app/assets/stylesheets/application.css.scss */
.metrics-list ul li input {
  float: left;
  margin: 3px;
  padding: 3px;
}

/* line 224, ../../../app/assets/stylesheets/application.css.scss */
#summary a {
  width: 100%;
  margin: 15px 0px;
}
/* line 228, ../../../app/assets/stylesheets/application.css.scss */
#summary label {
  float: left;
  margin: 2px;
  font-size: 13px;
}
/* line 233, ../../../app/assets/stylesheets/application.css.scss */
#summary input[type="text"] {
  float: left;
  margin: 2px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 3px;
}
/* line 241, ../../../app/assets/stylesheets/application.css.scss */
#summary .loc-drop {
  display: none;
}
/* line 243, ../../../app/assets/stylesheets/application.css.scss */
#summary .loc-drop .col-md-12 {
  border-radius: 0px 0px 7px 7px;
  background-color: #e2e2e2;
  padding: 10px;
}
/* line 250, ../../../app/assets/stylesheets/application.css.scss */
#summary .skinny label {
  width: 70%;
  font-size: 11px;
  padding: 3px;
}
/* line 255, ../../../app/assets/stylesheets/application.css.scss */
#summary .skinny input {
  width: 24%;
}
/* line 259, ../../../app/assets/stylesheets/application.css.scss */
#summary h4.drop-but {
  font-size: 15px;
  font-family: "Droid Sans", sans-serif;
  background-color: #e7540c;
  padding: 6px;
  color: #e2e2e2;
  border-radius: 8px;
  height: 30px;
}
/* line 269, ../../../app/assets/stylesheets/application.css.scss */
#summary table th {
  padding: 5px;
}
/* line 272, ../../../app/assets/stylesheets/application.css.scss */
#summary table tr {
  background-color: #e2e2e2;
  border: 1px solid grey;
}
/* line 275, ../../../app/assets/stylesheets/application.css.scss */
#summary table tr td {
  font-weight: 600;
  font-size: 13px;
  font-family: "Droid Sans", sans-serif;
  padding: 3px;
}
/* line 281, ../../../app/assets/stylesheets/application.css.scss */
#summary table tr td.first {
  width: 200px;
}
/* line 287, ../../../app/assets/stylesheets/application.css.scss */
#summary table.plain-table tr {
  background-color: transparent;
  border: 0;
}
/* line 290, ../../../app/assets/stylesheets/application.css.scss */
#summary table.plain-table tr td.first {
  width: 200px;
}

/* line 297, ../../../app/assets/stylesheets/application.css.scss */
.profile-info h2 {
  font-weight: 600;
  font-family: "Droid Sans",sans-serif;
  color: #e2e2e2;
}
/* line 302, ../../../app/assets/stylesheets/application.css.scss */
.profile-info .profile-group {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

/* line 309, ../../../app/assets/stylesheets/application.css.scss */
.profile-header #info, .profile-header #impact {
  display: none;
}
/* line 312, ../../../app/assets/stylesheets/application.css.scss */
.profile-header #markets {
  display: none;
}
/* line 314, ../../../app/assets/stylesheets/application.css.scss */
.profile-header #markets .date {
  font-size: 12px;
}
/* line 318, ../../../app/assets/stylesheets/application.css.scss */
.profile-header h2 {
  font-weight: 600;
  font-family: "Droid Sans",sans-serif;
  color: #e2e2e2;
  width: 100%;
  padding: 4px 10px;
  background-color: #e7540c;
  border-radius: 8px;
}
/* line 327, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group {
  background-color: white;
  padding: 20px;
  font-size: 12px;
}
/* line 331, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group h3 {
  margin: 10px 5px;
}
/* line 333, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group h3 span {
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  color: #e2e2e2;
  background-color: #55873A;
  padding: 4px;
  border-radius: 8px;
}
/* line 342, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group .val {
  padding: 5px;
}
/* line 345, ../../../app/assets/stylesheets/application.css.scss */
.profile-header .profile-group .row {
  margin-bottom: 15px;
}

/* line 350, ../../../app/assets/stylesheets/application.css.scss */
label.yes {
  cursor: pointer;
  background-color: #33CC33;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px 10px !important;
}

/* line 357, ../../../app/assets/stylesheets/application.css.scss */
label.no {
  cursor: pointer;
  background-color: #FF1919;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px 10px !important;
}

/* line 364, ../../../app/assets/stylesheets/application.css.scss */
label.day {
  padding: 1px 4px;
  background-color: #eee;
  border-radius: 7px;
  float: none !important;
}
