// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

$background-main: #55873A;
$background-prim: #e2e2e2;
$text-prim: #1E120D;
$text-light: #333;
$btn-color: #e7540c;
$font-clean: "Droid Sans",sans-serif;
$font-serif: "Droid Serif",serif;

body{
	color: $text-prim;
	font-size: 15px;
	line-height: 1.5;
	font-family: $font-serif;
	font-weight: 400;
}

input[type="text"], input[type="password"]{
	margin: 5px;
	padding: 5px;
}
label{
	margin: 5px;
}
.btn-default{
	background-color:$btn-color;
	border-radius: 0px;
	font-family: $font-clean;
	border: 0;
	padding: 5px 20px;
	color: white;
}

#menu{
	border-top: 4px solid $background-main;
	height:160px;
	#title{
		color: $text-light;
		font-size: 35px;
		font-weight: 600;
		padding: 20px; 
		font-family: $font-clean;
	}
}

#sidebar{
	padding: 25px;
	font-family: $font-clean;
	color: $text-light;
	.link{
		padding-top: 5px;
		a{
			color: $text-prim !important;
		}
	}
}

#newUser, #showUser{
	background-color: $background-prim;	
	.main{
		padding: 25px;
		background-color: $background-main;	
	}
	#mission_statement{
		display:none;
		.col-md-12{
			background-color: $background-prim;
			border-radius: 8px;
			padding: 10px;
			.full{
				width: 100%;
				float: left;
				input[type="checkbox"]{
					float:right;
				}
			}
		}
	}
	textarea {
    	resize: none;
    	width: 100%;
    	float: left;
    	border-radius: 8px;
	}
	select {
		background-color: white;
		border-radius: 7px;
		height: 32px;
		border: 0;
		width: 100%;
	}
}
#form-ctrl{
	a{
		width: 100%;
		margin: 15px 0px;
	}
	label{
		float: left;
		margin: 2px;
		font-size: 12px;
	}
	input[type="text"]{
		float: left;
		margin: 2px;
		width: 100%;
		border-radius: 6px;
		border: 1px solid #eee;
		padding: 3px;
	}
	.loc-drop{
		display:none;
		.col-md-12{
			border-radius: 0px 0px 7px 7px;
			background-color: $background-prim;
			padding: 10px;
		}
	}
	h4.drop-but{
		font-size: 15px;
		font-family: $font-clean;
		background-color: $btn-color;
		padding: 6px;
		color: $background-prim;
		border-radius: 8px;
		height: 30px;
	}
}
.profile-info{
	h2{
		font-weight: 600;
		font-family: "Droid Sans",sans-serif;
		color: $background-prim;
	}
	.profile-group{
		background-color: white;
		padding: 20px;
		border-radius: 20px;
	}
}